<div class="home">
    <h1 id="masthead">606 LABS</h1>
    <h2 class="tagline">MIDWEST-MADE WEB: CHICAGO, ILLINOIS</h2>
    <h2 class="tagline" id="projects">PROJECTS</h2>
    <div id="links">
        <h2 class="tagline"><%= link_to "SEEKING", "http://seekingmusicapp.com", target: "_blank" %></h2>
        <h2 class="tagline"><%= link_to "AL BEAVER", "http://albeaver.com", target: "_blank" %></h2>
        <h2 class="tagline"><%= link_to "GEOFFREY C. HOWES", "http://geoffreyhowes.com", target: "_blank" %></h2>
        <h2 class="tagline"><%= link_to "BRIDJET MENDYUK", "http://bjmendy.com", target: "_blank" %></h2>
    </div>
</div>
